<p id="notice"><%= notice %></p>

  <% if user_signed_in? %>
    <%= render 'form', tweet: @tweet %>
  <% end %>

<%
=begin%>
 <% 5.times do |i| %>
  <% @i = i%>
  <%= render 'jumbotron', i: @i %>
<% end %>
<%
=end%>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |cualquier_cosa| %>
      <tr>
        <td><%= cualquier_cosa.content %></td>
        <td><%= cualquier_cosa.user_id %></td>
        <td><%= link_to 'Show', cualquier_cosa %></td>
        <td><%= link_to 'Edit', edit_tweet_path(cualquier_cosa) %></td>
        <td><%= link_to 'Destroy', cualquier_cosa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%
=begin%>
 <%= render 'jumbotron' %>
<%
=end%>
<br>

